@model IEnumerable<SchedulingAssistant.Models.ActivityViewModel>

@{
    ViewData["Title"] = "ActivityList";
}

<h1>Available activities</h1>

<table class="table">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date</th>
            <th>Location</th>
            <th>Host Team</th>
            <th>Visitor Team</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2)
            </td>
            <td>
                    @Html.ActionLink("AddToCalendar", "AddToCalendar", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>
